.fxs_custom_notification {
    position: relative;
}

.fxs_custom_notification_body {
    background-color: yellow;
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    padding: 2rem 1rem 1rem;
    transition: all 2s ease-in-out;
    border: 1px solid #dddedf;
}

@media(min-width:768px) {
    .fxs_custom_notification_body {
        top: 50px;
        left: -100vw;
        right: auto;
    }
}

.fxs_custom_notification_close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

.fxs_custom_notification_transition {
    top: 50px;
    left: 0;
}

@media(min-width:1024px) {
    .fxs_custom_notification_transition {
        top: 121px;
        left: 0;
    }
}