.fxs_custom_notification {
    position: relative;
}

.fxs_custom_notification_logo {
    width: 90px;
    height: 90px;
}

@media (min-width: 1024px) {
    .fxs_custom_notification_logo {
        width: 110px;
        height: 110px;
    }
}

.fxs_custom_notification_close {
    background: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
}

.fxs_custom_notification_accept {
    width: 100%;
}

@-webkit-keyframes AppearFromLeft {
    0% {
        position: fixed;
        left: -100%;
        top: 50px;
    }
    100% {
        position: fixed;
        left: 0;
        top: 50px;
    }
}

@keyframes AppearFromLeft {
    0% {
        position: fixed;
        left: -100%;
        right: initial;
        top: 121px;
    }
    100% {
        position: fixed;
        left: 0;
        right: initial;
        top: 121px;
    }
}

@-webkit-keyframes AppearFromTop {
    0% {
        position: fixed;
        left: 0;
        right: 0;
        top: -100%
    }
    100% {
        position: fixed;
        left: 0;
        right: 0;
        top: 50px;
    }
}

@keyframes AppearFromTop {
    0% {
        position: fixed;
        left: 0;
        right: 0;
        top: -100%
    }
    100% {
        position: fixed;
        left: 0;
        right: 0;
        top: 50px;
    }
}

.fxs_custom_notification_body {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    padding-bottom: 1rem;
}

@media(min-width:768px) {
    .fxs_custom_notification_body {
        position: fixed;
        left: -100%;
        right: initial;
        top: 121px;
        padding-bottom: 0;
        height: 90px;
        width: auto;
    }
}

@media(min-width:1024px) {
    .fxs_custom_notification_body {
        height: 110px;
        width: 460px;
    }
}

.fxs_custom_notification_message_box {
    padding: 1rem 1rem 0 1rem;
}

@media(min-width:768px) {
    .fxs_custom_notification_message_box {
        padding: 1rem 1rem 0 105px;
    }
}

@media(min-width:1024px) {
    .fxs_custom_notification_message_box {
        padding: 1rem 1rem 0 125px;
    }
}

.fxs_custom_notification_animation {
    animation: AppearFromTop 1s ease-in-out 1s 1 normal forwards;
}

@media(min-width:768px) {
    .fxs_custom_notification_animation {
        animation: AppearFromLeft 1s ease-in-out 1s 1 normal forwards;
    }
}